@charset "UTF-8";
/*!
 * Primer-marketing
 * http://primer.github.io
 *
 * Released under MIT license. Copyright (c) 2019 GitHub Inc.
 */
.h000-mktg,.h00-mktg,.h0-mktg,.h1-mktg,.h2-mktg,.h3-mktg,.h4-mktg,.h5-mktg,.h6-mktg,.lead-mktg {
 font-family:Inter,
 -apple-system,
 BlinkMacSystemFont,
 Segoe UI,
 Helvetica,
 Arial,
 sans-serif,
 Apple Color Emoji,
 Segoe UI Emoji,
 Segoe UI Symbol;
 font-weight:500
}
.h000-mktg {
 font-size:48px!important
}
@media (min-width:768px) {
 .h000-mktg {
  font-size:64px!important
 }
}
.h00-mktg {
 font-size:40px!important
}
@media (min-width:768px) {
 .h00-mktg {
  font-size:48px!important
 }
}
.h0-mktg {
 font-size:32px!important
}
@media (min-width:768px) {
 .h0-mktg {
  font-size:40px!important
 }
}
.h1-mktg {
 font-size:26px!important
}
@media (min-width:768px) {
 .h1-mktg {
  font-size:32px!important
 }
}
.h2-mktg {
 font-size:22px!important
}
@media (min-width:768px) {
 .h2-mktg {
  font-size:24px!important
 }
}
.h3-mktg {
 font-size:18px!important
}
@media (min-width:768px) {
 .h3-mktg {
  font-size:20px!important
 }
}
.h4-mktg {
 font-size:16px!important
}
.h5-mktg {
 font-size:14px!important
}
.h6-mktg {
 font-size:12px!important
}
.lead-mktg {
 font-size:20px;
 font-weight:400
}
.pullquote {
 border-left:3px solid #e1e4e8;
 color:#586069;
 font-family:SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
 font-size:16px;
 line-height:1.4;
 margin-bottom:24px;
 padding-bottom:0;
 padding-left:8px;
 padding-top:0
}
@media (min-width:768px) {
 .pullquote {
  font-size:18px;
  line-height:1.5;
  margin-bottom:32px;
  margin-left:-15px;
  padding-left:12px
 }
}
.btn-mktg {
 -moz-appearance:none;
 -moz-user-select:none;
 -ms-user-select:none;
 -webkit-appearance:none;
 -webkit-user-select:none;
 appearance:none;
 background-color:#1074e7;
 border:1px solid #1074e7;
 border-radius:3px;
 color:#fff;
 cursor:pointer;
 display:inline-block;
 font-size:14px;
 font-weight:500;
 padding:16px 24px;
 transition:.2s;
 user-select:none;
 vertical-align:middle;
 white-space:nowrap
}
.btn-mktg:hover {
 background-color:#0366d6;
 border-color:#0366d6;
 text-decoration:none
}
.btn-mktg:focus {
 box-shadow:0 0 0 .2em rgba(3,102,214,.3);
 outline:0
}
.btn-mktg.disabled,
.btn-mktg:disabled {
 cursor:default;
 opacity:.65;
 pointer-events:none
}
.btn-primary-mktg {
 background-color:#2ebc4f;
 border-color:#2ebc4f
}
.btn-primary-mktg:hover {
 background-color:#28a745;
 border-color:#28a745
}
.btn-primary-mktg:focus {
 box-shadow:0 0 0 .2em rgba(40,167,69,.3)
}
.btn-large-mktg {
 font-size:16px;
 padding:20px 32px
}
.btn-outline-mktg {
 background-color:hsla(0,0%,100%,0);
 border-color:rgba(16,116,231,.5);
 color:#1074e7
}
.btn-outline-mktg:hover {
 background-color:hsla(0,0%,100%,0);
 border-color:#1074e7;
 color:#0366d6;
 text-decoration:none
}
.btn-transparent {
 background-color:transparent;
 background-image:none;
 border:1px solid hsla(0,0%,100%,.5);
 color:#fff
}
.btn-transparent:active,
.btn-transparent:hover {
 background-color:#fff;
 background-image:none;
 border-color:#fff;
 color:#2f363d
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:400;
 src:local("Inter"),
 local("Inter-Regular"),
 url(/static/fonts/inter/Inter-Regular.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:500;
 src:local("Inter Medium"),
 local("Inter-Medium"),
 url(/static/fonts/inter/Inter-Medium.woff) format("woff")
}
.grayscale {
 filter:grayscale(100%)
}
.top-0 {
 top:0!important
}
.right-0 {
 right:0!important
}
.bottom-0 {
 bottom:0!important
}
.left-0 {
 left:0!important
}
.top-n0 {
 top:0!important
}
.right-n0 {
 right:0!important
}
.bottom-n0 {
 bottom:0!important
}
.left-n0 {
 left:0!important
}
.top-1 {
 top:4px!important
}
.right-1 {
 right:4px!important
}
.bottom-1 {
 bottom:4px!important
}
.left-1 {
 left:4px!important
}
.top-n1 {
 top:-4px!important
}
.right-n1 {
 right:-4px!important
}
.bottom-n1 {
 bottom:-4px!important
}
.left-n1 {
 left:-4px!important
}
.top-2 {
 top:8px!important
}
.right-2 {
 right:8px!important
}
.bottom-2 {
 bottom:8px!important
}
.left-2 {
 left:8px!important
}
.top-n2 {
 top:-8px!important
}
.right-n2 {
 right:-8px!important
}
.bottom-n2 {
 bottom:-8px!important
}
.left-n2 {
 left:-8px!important
}
.top-3 {
 top:16px!important
}
.right-3 {
 right:16px!important
}
.bottom-3 {
 bottom:16px!important
}
.left-3 {
 left:16px!important
}
.top-n3 {
 top:-16px!important
}
.right-n3 {
 right:-16px!important
}
.bottom-n3 {
 bottom:-16px!important
}
.left-n3 {
 left:-16px!important
}
.top-4 {
 top:24px!important
}
.right-4 {
 right:24px!important
}
.bottom-4 {
 bottom:24px!important
}
.left-4 {
 left:24px!important
}
.top-n4 {
 top:-24px!important
}
.right-n4 {
 right:-24px!important
}
.bottom-n4 {
 bottom:-24px!important
}
.left-n4 {
 left:-24px!important
}
.top-5 {
 top:32px!important
}
.right-5 {
 right:32px!important
}
.bottom-5 {
 bottom:32px!important
}
.left-5 {
 left:32px!important
}
.top-n5 {
 top:-32px!important
}
.right-n5 {
 right:-32px!important
}
.bottom-n5 {
 bottom:-32px!important
}
.left-n5 {
 left:-32px!important
}
.top-6 {
 top:40px!important
}
.right-6 {
 right:40px!important
}
.bottom-6 {
 bottom:40px!important
}
.left-6 {
 left:40px!important
}
.top-n6 {
 top:-40px!important
}
.right-n6 {
 right:-40px!important
}
.bottom-n6 {
 bottom:-40px!important
}
.left-n6 {
 left:-40px!important
}
.top-7 {
 top:48px!important
}
.right-7 {
 right:48px!important
}
.bottom-7 {
 bottom:48px!important
}
.left-7 {
 left:48px!important
}
.top-n7 {
 top:-48px!important
}
.right-n7 {
 right:-48px!important
}
.bottom-n7 {
 bottom:-48px!important
}
.left-n7 {
 left:-48px!important
}
.top-8 {
 top:64px!important
}
.right-8 {
 right:64px!important
}
.bottom-8 {
 bottom:64px!important
}
.left-8 {
 left:64px!important
}
.top-n8 {
 top:-64px!important
}
.right-n8 {
 right:-64px!important
}
.bottom-n8 {
 bottom:-64px!important
}
.left-n8 {
 left:-64px!important
}
.top-9 {
 top:80px!important
}
.right-9 {
 right:80px!important
}
.bottom-9 {
 bottom:80px!important
}
.left-9 {
 left:80px!important
}
.top-n9 {
 top:-80px!important
}
.right-n9 {
 right:-80px!important
}
.bottom-n9 {
 bottom:-80px!important
}
.left-n9 {
 left:-80px!important
}
.top-10 {
 top:96px!important
}
.right-10 {
 right:96px!important
}
.bottom-10 {
 bottom:96px!important
}
.left-10 {
 left:96px!important
}
.top-n10 {
 top:-96px!important
}
.right-n10 {
 right:-96px!important
}
.bottom-n10 {
 bottom:-96px!important
}
.left-n10 {
 left:-96px!important
}
.top-11 {
 top:112px!important
}
.right-11 {
 right:112px!important
}
.bottom-11 {
 bottom:112px!important
}
.left-11 {
 left:112px!important
}
.top-n11 {
 top:-112px!important
}
.right-n11 {
 right:-112px!important
}
.bottom-n11 {
 bottom:-112px!important
}
.left-n11 {
 left:-112px!important
}
.top-12 {
 top:128px!important
}
.right-12 {
 right:128px!important
}
.bottom-12 {
 bottom:128px!important
}
.left-12 {
 left:128px!important
}
.top-n12 {
 top:-128px!important
}
.right-n12 {
 right:-128px!important
}
.bottom-n12 {
 bottom:-128px!important
}
.left-n12 {
 left:-128px!important
}
@media (min-width:768px) {
 .top-md-0 {
  top:0!important
 }
 .right-md-0 {
  right:0!important
 }
 .bottom-md-0 {
  bottom:0!important
 }
 .left-md-0 {
  left:0!important
 }
 .top-md-n0 {
  top:0!important
 }
 .right-md-n0 {
  right:0!important
 }
 .bottom-md-n0 {
  bottom:0!important
 }
 .left-md-n0 {
  left:0!important
 }
 .top-md-1 {
  top:4px!important
 }
 .right-md-1 {
  right:4px!important
 }
 .bottom-md-1 {
  bottom:4px!important
 }
 .left-md-1 {
  left:4px!important
 }
 .top-md-n1 {
  top:-4px!important
 }
 .right-md-n1 {
  right:-4px!important
 }
 .bottom-md-n1 {
  bottom:-4px!important
 }
 .left-md-n1 {
  left:-4px!important
 }
 .top-md-2 {
  top:8px!important
 }
 .right-md-2 {
  right:8px!important
 }
 .bottom-md-2 {
  bottom:8px!important
 }
 .left-md-2 {
  left:8px!important
 }
 .top-md-n2 {
  top:-8px!important
 }
 .right-md-n2 {
  right:-8px!important
 }
 .bottom-md-n2 {
  bottom:-8px!important
 }
 .left-md-n2 {
  left:-8px!important
 }
 .top-md-3 {
  top:16px!important
 }
 .right-md-3 {
  right:16px!important
 }
 .bottom-md-3 {
  bottom:16px!important
 }
 .left-md-3 {
  left:16px!important
 }
 .top-md-n3 {
  top:-16px!important
 }
 .right-md-n3 {
  right:-16px!important
 }
 .bottom-md-n3 {
  bottom:-16px!important
 }
 .left-md-n3 {
  left:-16px!important
 }
 .top-md-4 {
  top:24px!important
 }
 .right-md-4 {
  right:24px!important
 }
 .bottom-md-4 {
  bottom:24px!important
 }
 .left-md-4 {
  left:24px!important
 }
 .top-md-n4 {
  top:-24px!important
 }
 .right-md-n4 {
  right:-24px!important
 }
 .bottom-md-n4 {
  bottom:-24px!important
 }
 .left-md-n4 {
  left:-24px!important
 }
 .top-md-5 {
  top:32px!important
 }
 .right-md-5 {
  right:32px!important
 }
 .bottom-md-5 {
  bottom:32px!important
 }
 .left-md-5 {
  left:32px!important
 }
 .top-md-n5 {
  top:-32px!important
 }
 .right-md-n5 {
  right:-32px!important
 }
 .bottom-md-n5 {
  bottom:-32px!important
 }
 .left-md-n5 {
  left:-32px!important
 }
 .top-md-6 {
  top:40px!important
 }
 .right-md-6 {
  right:40px!important
 }
 .bottom-md-6 {
  bottom:40px!important
 }
 .left-md-6 {
  left:40px!important
 }
 .top-md-n6 {
  top:-40px!important
 }
 .right-md-n6 {
  right:-40px!important
 }
 .bottom-md-n6 {
  bottom:-40px!important
 }
 .left-md-n6 {
  left:-40px!important
 }
 .top-md-7 {
  top:48px!important
 }
 .right-md-7 {
  right:48px!important
 }
 .bottom-md-7 {
  bottom:48px!important
 }
 .left-md-7 {
  left:48px!important
 }
 .top-md-n7 {
  top:-48px!important
 }
 .right-md-n7 {
  right:-48px!important
 }
 .bottom-md-n7 {
  bottom:-48px!important
 }
 .left-md-n7 {
  left:-48px!important
 }
 .top-md-8 {
  top:64px!important
 }
 .right-md-8 {
  right:64px!important
 }
 .bottom-md-8 {
  bottom:64px!important
 }
 .left-md-8 {
  left:64px!important
 }
 .top-md-n8 {
  top:-64px!important
 }
 .right-md-n8 {
  right:-64px!important
 }
 .bottom-md-n8 {
  bottom:-64px!important
 }
 .left-md-n8 {
  left:-64px!important
 }
 .top-md-9 {
  top:80px!important
 }
 .right-md-9 {
  right:80px!important
 }
 .bottom-md-9 {
  bottom:80px!important
 }
 .left-md-9 {
  left:80px!important
 }
 .top-md-n9 {
  top:-80px!important
 }
 .right-md-n9 {
  right:-80px!important
 }
 .bottom-md-n9 {
  bottom:-80px!important
 }
 .left-md-n9 {
  left:-80px!important
 }
 .top-md-10 {
  top:96px!important
 }
 .right-md-10 {
  right:96px!important
 }
 .bottom-md-10 {
  bottom:96px!important
 }
 .left-md-10 {
  left:96px!important
 }
 .top-md-n10 {
  top:-96px!important
 }
 .right-md-n10 {
  right:-96px!important
 }
 .bottom-md-n10 {
  bottom:-96px!important
 }
 .left-md-n10 {
  left:-96px!important
 }
 .top-md-11 {
  top:112px!important
 }
 .right-md-11 {
  right:112px!important
 }
 .bottom-md-11 {
  bottom:112px!important
 }
 .left-md-11 {
  left:112px!important
 }
 .top-md-n11 {
  top:-112px!important
 }
 .right-md-n11 {
  right:-112px!important
 }
 .bottom-md-n11 {
  bottom:-112px!important
 }
 .left-md-n11 {
  left:-112px!important
 }
 .top-md-12 {
  top:128px!important
 }
 .right-md-12 {
  right:128px!important
 }
 .bottom-md-12 {
  bottom:128px!important
 }
 .left-md-12 {
  left:128px!important
 }
 .top-md-n12 {
  top:-128px!important
 }
 .right-md-n12 {
  right:-128px!important
 }
 .bottom-md-n12 {
  bottom:-128px!important
 }
 .left-md-n12 {
  left:-128px!important
 }
}
@media (min-width:1012px) {
 .top-lg-0 {
  top:0!important
 }
 .right-lg-0 {
  right:0!important
 }
 .bottom-lg-0 {
  bottom:0!important
 }
 .left-lg-0 {
  left:0!important
 }
 .top-lg-n0 {
  top:0!important
 }
 .right-lg-n0 {
  right:0!important
 }
 .bottom-lg-n0 {
  bottom:0!important
 }
 .left-lg-n0 {
  left:0!important
 }
 .top-lg-1 {
  top:4px!important
 }
 .right-lg-1 {
  right:4px!important
 }
 .bottom-lg-1 {
  bottom:4px!important
 }
 .left-lg-1 {
  left:4px!important
 }
 .top-lg-n1 {
  top:-4px!important
 }
 .right-lg-n1 {
  right:-4px!important
 }
 .bottom-lg-n1 {
  bottom:-4px!important
 }
 .left-lg-n1 {
  left:-4px!important
 }
 .top-lg-2 {
  top:8px!important
 }
 .right-lg-2 {
  right:8px!important
 }
 .bottom-lg-2 {
  bottom:8px!important
 }
 .left-lg-2 {
  left:8px!important
 }
 .top-lg-n2 {
  top:-8px!important
 }
 .right-lg-n2 {
  right:-8px!important
 }
 .bottom-lg-n2 {
  bottom:-8px!important
 }
 .left-lg-n2 {
  left:-8px!important
 }
 .top-lg-3 {
  top:16px!important
 }
 .right-lg-3 {
  right:16px!important
 }
 .bottom-lg-3 {
  bottom:16px!important
 }
 .left-lg-3 {
  left:16px!important
 }
 .top-lg-n3 {
  top:-16px!important
 }
 .right-lg-n3 {
  right:-16px!important
 }
 .bottom-lg-n3 {
  bottom:-16px!important
 }
 .left-lg-n3 {
  left:-16px!important
 }
 .top-lg-4 {
  top:24px!important
 }
 .right-lg-4 {
  right:24px!important
 }
 .bottom-lg-4 {
  bottom:24px!important
 }
 .left-lg-4 {
  left:24px!important
 }
 .top-lg-n4 {
  top:-24px!important
 }
 .right-lg-n4 {
  right:-24px!important
 }
 .bottom-lg-n4 {
  bottom:-24px!important
 }
 .left-lg-n4 {
  left:-24px!important
 }
 .top-lg-5 {
  top:32px!important
 }
 .right-lg-5 {
  right:32px!important
 }
 .bottom-lg-5 {
  bottom:32px!important
 }
 .left-lg-5 {
  left:32px!important
 }
 .top-lg-n5 {
  top:-32px!important
 }
 .right-lg-n5 {
  right:-32px!important
 }
 .bottom-lg-n5 {
  bottom:-32px!important
 }
 .left-lg-n5 {
  left:-32px!important
 }
 .top-lg-6 {
  top:40px!important
 }
 .right-lg-6 {
  right:40px!important
 }
 .bottom-lg-6 {
  bottom:40px!important
 }
 .left-lg-6 {
  left:40px!important
 }
 .top-lg-n6 {
  top:-40px!important
 }
 .right-lg-n6 {
  right:-40px!important
 }
 .bottom-lg-n6 {
  bottom:-40px!important
 }
 .left-lg-n6 {
  left:-40px!important
 }
 .top-lg-7 {
  top:48px!important
 }
 .right-lg-7 {
  right:48px!important
 }
 .bottom-lg-7 {
  bottom:48px!important
 }
 .left-lg-7 {
  left:48px!important
 }
 .top-lg-n7 {
  top:-48px!important
 }
 .right-lg-n7 {
  right:-48px!important
 }
 .bottom-lg-n7 {
  bottom:-48px!important
 }
 .left-lg-n7 {
  left:-48px!important
 }
 .top-lg-8 {
  top:64px!important
 }
 .right-lg-8 {
  right:64px!important
 }
 .bottom-lg-8 {
  bottom:64px!important
 }
 .left-lg-8 {
  left:64px!important
 }
 .top-lg-n8 {
  top:-64px!important
 }
 .right-lg-n8 {
  right:-64px!important
 }
 .bottom-lg-n8 {
  bottom:-64px!important
 }
 .left-lg-n8 {
  left:-64px!important
 }
 .top-lg-9 {
  top:80px!important
 }
 .right-lg-9 {
  right:80px!important
 }
 .bottom-lg-9 {
  bottom:80px!important
 }
 .left-lg-9 {
  left:80px!important
 }
 .top-lg-n9 {
  top:-80px!important
 }
 .right-lg-n9 {
  right:-80px!important
 }
 .bottom-lg-n9 {
  bottom:-80px!important
 }
 .left-lg-n9 {
  left:-80px!important
 }
 .top-lg-10 {
  top:96px!important
 }
 .right-lg-10 {
  right:96px!important
 }
 .bottom-lg-10 {
  bottom:96px!important
 }
 .left-lg-10 {
  left:96px!important
 }
 .top-lg-n10 {
  top:-96px!important
 }
 .right-lg-n10 {
  right:-96px!important
 }
 .bottom-lg-n10 {
  bottom:-96px!important
 }
 .left-lg-n10 {
  left:-96px!important
 }
 .top-lg-11 {
  top:112px!important
 }
 .right-lg-11 {
  right:112px!important
 }
 .bottom-lg-11 {
  bottom:112px!important
 }
 .left-lg-11 {
  left:112px!important
 }
 .top-lg-n11 {
  top:-112px!important
 }
 .right-lg-n11 {
  right:-112px!important
 }
 .bottom-lg-n11 {
  bottom:-112px!important
 }
 .left-lg-n11 {
  left:-112px!important
 }
 .top-lg-12 {
  top:128px!important
 }
 .right-lg-12 {
  right:128px!important
 }
 .bottom-lg-12 {
  bottom:128px!important
 }
 .left-lg-12 {
  left:128px!important
 }
 .top-lg-n12 {
  top:-128px!important
 }
 .right-lg-n12 {
  right:-128px!important
 }
 .bottom-lg-n12 {
  bottom:-128px!important
 }
 .left-lg-n12 {
  left:-128px!important
 }
}
.offset-n1 {
 margin-left:-8.33333%
}
.offset-n2 {
 margin-left:-16.66667%
}
.offset-n3 {
 margin-left:-25%
}
.offset-n4 {
 margin-left:-33.33333%
}
.offset-n5 {
 margin-left:-41.66667%
}
.offset-n6 {
 margin-left:-50%
}
.offset-n7 {
 margin-left:-58.33333%
}
@media (min-width:544px) {
 .offset-sm-n1 {
  margin-left:-8.33333%
 }
 .offset-sm-n2 {
  margin-left:-16.66667%
 }
 .offset-sm-n3 {
  margin-left:-25%
 }
 .offset-sm-n4 {
  margin-left:-33.33333%
 }
 .offset-sm-n5 {
  margin-left:-41.66667%
 }
 .offset-sm-n6 {
  margin-left:-50%
 }
 .offset-sm-n7 {
  margin-left:-58.33333%
 }
}
@media (min-width:768px) {
 .offset-md-n1 {
  margin-left:-8.33333%
 }
 .offset-md-n2 {
  margin-left:-16.66667%
 }
 .offset-md-n3 {
  margin-left:-25%
 }
 .offset-md-n4 {
  margin-left:-33.33333%
 }
 .offset-md-n5 {
  margin-left:-41.66667%
 }
 .offset-md-n6 {
  margin-left:-50%
 }
 .offset-md-n7 {
  margin-left:-58.33333%
 }
}
@media (min-width:1012px) {
 .offset-lg-n1 {
  margin-left:-8.33333%
 }
 .offset-lg-n2 {
  margin-left:-16.66667%
 }
 .offset-lg-n3 {
  margin-left:-25%
 }
 .offset-lg-n4 {
  margin-left:-33.33333%
 }
 .offset-lg-n5 {
  margin-left:-41.66667%
 }
 .offset-lg-n6 {
  margin-left:-50%
 }
 .offset-lg-n7 {
  margin-left:-58.33333%
 }
}
@media (min-width:1280px) {
 .offset-xl-n1 {
  margin-left:-8.33333%
 }
 .offset-xl-n2 {
  margin-left:-16.66667%
 }
 .offset-xl-n3 {
  margin-left:-25%
 }
 .offset-xl-n4 {
  margin-left:-33.33333%
 }
 .offset-xl-n5 {
  margin-left:-41.66667%
 }
 .offset-xl-n6 {
  margin-left:-50%
 }
 .offset-xl-n7 {
  margin-left:-58.33333%
 }
}
.mt-7 {
 margin-top:48px!important
}
.mb-7,
.my-7 {
 margin-bottom:48px!important
}
.my-7 {
 margin-top:48px!important
}
.mt-8 {
 margin-top:64px!important
}
.mb-8,
.my-8 {
 margin-bottom:64px!important
}
.my-8 {
 margin-top:64px!important
}
.mt-9 {
 margin-top:80px!important
}
.mb-9,
.my-9 {
 margin-bottom:80px!important
}
.my-9 {
 margin-top:80px!important
}
.mt-10 {
 margin-top:96px!important
}
.mb-10,
.my-10 {
 margin-bottom:96px!important
}
.my-10 {
 margin-top:96px!important
}
.mt-11 {
 margin-top:112px!important
}
.mb-11,
.my-11 {
 margin-bottom:112px!important
}
.my-11 {
 margin-top:112px!important
}
.mt-12 {
 margin-top:128px!important
}
.mb-12,
.my-12 {
 margin-bottom:128px!important
}
.my-12 {
 margin-top:128px!important
}
@media (min-width:544px) {
 .mt-sm-7 {
  margin-top:48px!important
 }
 .mb-sm-7,
 .my-sm-7 {
  margin-bottom:48px!important
 }
 .my-sm-7 {
  margin-top:48px!important
 }
 .mt-sm-8 {
  margin-top:64px!important
 }
 .mb-sm-8,
 .my-sm-8 {
  margin-bottom:64px!important
 }
 .my-sm-8 {
  margin-top:64px!important
 }
 .mt-sm-9 {
  margin-top:80px!important
 }
 .mb-sm-9,
 .my-sm-9 {
  margin-bottom:80px!important
 }
 .my-sm-9 {
  margin-top:80px!important
 }
 .mt-sm-10 {
  margin-top:96px!important
 }
 .mb-sm-10,
 .my-sm-10 {
  margin-bottom:96px!important
 }
 .my-sm-10 {
  margin-top:96px!important
 }
 .mt-sm-11 {
  margin-top:112px!important
 }
 .mb-sm-11,
 .my-sm-11 {
  margin-bottom:112px!important
 }
 .my-sm-11 {
  margin-top:112px!important
 }
 .mt-sm-12 {
  margin-top:128px!important
 }
 .mb-sm-12,
 .my-sm-12 {
  margin-bottom:128px!important
 }
 .my-sm-12 {
  margin-top:128px!important
 }
}
@media (min-width:768px) {
 .mt-md-7 {
  margin-top:48px!important
 }
 .mb-md-7,
 .my-md-7 {
  margin-bottom:48px!important
 }
 .my-md-7 {
  margin-top:48px!important
 }
 .mt-md-8 {
  margin-top:64px!important
 }
 .mb-md-8,
 .my-md-8 {
  margin-bottom:64px!important
 }
 .my-md-8 {
  margin-top:64px!important
 }
 .mt-md-9 {
  margin-top:80px!important
 }
 .mb-md-9,
 .my-md-9 {
  margin-bottom:80px!important
 }
 .my-md-9 {
  margin-top:80px!important
 }
 .mt-md-10 {
  margin-top:96px!important
 }
 .mb-md-10,
 .my-md-10 {
  margin-bottom:96px!important
 }
 .my-md-10 {
  margin-top:96px!important
 }
 .mt-md-11 {
  margin-top:112px!important
 }
 .mb-md-11,
 .my-md-11 {
  margin-bottom:112px!important
 }
 .my-md-11 {
  margin-top:112px!important
 }
 .mt-md-12 {
  margin-top:128px!important
 }
 .mb-md-12,
 .my-md-12 {
  margin-bottom:128px!important
 }
 .my-md-12 {
  margin-top:128px!important
 }
}
@media (min-width:1012px) {
 .mt-lg-7 {
  margin-top:48px!important
 }
 .mb-lg-7,
 .my-lg-7 {
  margin-bottom:48px!important
 }
 .my-lg-7 {
  margin-top:48px!important
 }
 .mt-lg-8 {
  margin-top:64px!important
 }
 .mb-lg-8,
 .my-lg-8 {
  margin-bottom:64px!important
 }
 .my-lg-8 {
  margin-top:64px!important
 }
 .mt-lg-9 {
  margin-top:80px!important
 }
 .mb-lg-9,
 .my-lg-9 {
  margin-bottom:80px!important
 }
 .my-lg-9 {
  margin-top:80px!important
 }
 .mt-lg-10 {
  margin-top:96px!important
 }
 .mb-lg-10,
 .my-lg-10 {
  margin-bottom:96px!important
 }
 .my-lg-10 {
  margin-top:96px!important
 }
 .mt-lg-11 {
  margin-top:112px!important
 }
 .mb-lg-11,
 .my-lg-11 {
  margin-bottom:112px!important
 }
 .my-lg-11 {
  margin-top:112px!important
 }
 .mt-lg-12 {
  margin-top:128px!important
 }
 .mb-lg-12,
 .my-lg-12 {
  margin-bottom:128px!important
 }
 .my-lg-12 {
  margin-top:128px!important
 }
}
@media (min-width:1280px) {
 .mt-xl-7 {
  margin-top:48px!important
 }
 .mb-xl-7,
 .my-xl-7 {
  margin-bottom:48px!important
 }
 .my-xl-7 {
  margin-top:48px!important
 }
 .mt-xl-8 {
  margin-top:64px!important
 }
 .mb-xl-8,
 .my-xl-8 {
  margin-bottom:64px!important
 }
 .my-xl-8 {
  margin-top:64px!important
 }
 .mt-xl-9 {
  margin-top:80px!important
 }
 .mb-xl-9,
 .my-xl-9 {
  margin-bottom:80px!important
 }
 .my-xl-9 {
  margin-top:80px!important
 }
 .mt-xl-10 {
  margin-top:96px!important
 }
 .mb-xl-10,
 .my-xl-10 {
  margin-bottom:96px!important
 }
 .my-xl-10 {
  margin-top:96px!important
 }
 .mt-xl-11 {
  margin-top:112px!important
 }
 .mb-xl-11,
 .my-xl-11 {
  margin-bottom:112px!important
 }
 .my-xl-11 {
  margin-top:112px!important
 }
 .mt-xl-12 {
  margin-top:128px!important
 }
 .mb-xl-12,
 .my-xl-12 {
  margin-bottom:128px!important
 }
 .my-xl-12 {
  margin-top:128px!important
 }
}
.p-7 {
 padding:48px!important
}
.pt-7 {
 padding-top:48px!important
}
.pr-7 {
 padding-right:48px!important
}
.pb-7 {
 padding-bottom:48px!important
}
.pl-7 {
 padding-left:48px!important
}
.py-7 {
 padding-bottom:48px!important;
 padding-top:48px!important
}
.p-8 {
 padding:64px!important
}
.pt-8 {
 padding-top:64px!important
}
.pr-8 {
 padding-right:64px!important
}
.pb-8 {
 padding-bottom:64px!important
}
.pl-8 {
 padding-left:64px!important
}
.py-8 {
 padding-bottom:64px!important;
 padding-top:64px!important
}
.p-9 {
 padding:80px!important
}
.pt-9 {
 padding-top:80px!important
}
.pr-9 {
 padding-right:80px!important
}
.pb-9 {
 padding-bottom:80px!important
}
.pl-9 {
 padding-left:80px!important
}
.py-9 {
 padding-bottom:80px!important;
 padding-top:80px!important
}
.p-10 {
 padding:96px!important
}
.pt-10 {
 padding-top:96px!important
}
.pr-10 {
 padding-right:96px!important
}
.pb-10 {
 padding-bottom:96px!important
}
.pl-10 {
 padding-left:96px!important
}
.py-10 {
 padding-bottom:96px!important;
 padding-top:96px!important
}
.p-11 {
 padding:112px!important
}
.pt-11 {
 padding-top:112px!important
}
.pr-11 {
 padding-right:112px!important
}
.pb-11 {
 padding-bottom:112px!important
}
.pl-11 {
 padding-left:112px!important
}
.py-11 {
 padding-bottom:112px!important;
 padding-top:112px!important
}
.p-12 {
 padding:128px!important
}
.pt-12 {
 padding-top:128px!important
}
.pr-12 {
 padding-right:128px!important
}
.pb-12 {
 padding-bottom:128px!important
}
.pl-12 {
 padding-left:128px!important
}
.py-12 {
 padding-bottom:128px!important;
 padding-top:128px!important
}
@media (min-width:544px) {
 .p-sm-7 {
  padding:48px!important
 }
 .pt-sm-7 {
  padding-top:48px!important
 }
 .pr-sm-7 {
  padding-right:48px!important
 }
 .pb-sm-7 {
  padding-bottom:48px!important
 }
 .pl-sm-7 {
  padding-left:48px!important
 }
 .py-sm-7 {
  padding-bottom:48px!important;
  padding-top:48px!important
 }
 .p-sm-8 {
  padding:64px!important
 }
 .pt-sm-8 {
  padding-top:64px!important
 }
 .pr-sm-8 {
  padding-right:64px!important
 }
 .pb-sm-8 {
  padding-bottom:64px!important
 }
 .pl-sm-8 {
  padding-left:64px!important
 }
 .py-sm-8 {
  padding-bottom:64px!important;
  padding-top:64px!important
 }
 .p-sm-9 {
  padding:80px!important
 }
 .pt-sm-9 {
  padding-top:80px!important
 }
 .pr-sm-9 {
  padding-right:80px!important
 }
 .pb-sm-9 {
  padding-bottom:80px!important
 }
 .pl-sm-9 {
  padding-left:80px!important
 }
 .py-sm-9 {
  padding-bottom:80px!important;
  padding-top:80px!important
 }
 .p-sm-10 {
  padding:96px!important
 }
 .pt-sm-10 {
  padding-top:96px!important
 }
 .pr-sm-10 {
  padding-right:96px!important
 }
 .pb-sm-10 {
  padding-bottom:96px!important
 }
 .pl-sm-10 {
  padding-left:96px!important
 }
 .py-sm-10 {
  padding-bottom:96px!important;
  padding-top:96px!important
 }
 .p-sm-11 {
  padding:112px!important
 }
 .pt-sm-11 {
  padding-top:112px!important
 }
 .pr-sm-11 {
  padding-right:112px!important
 }
 .pb-sm-11 {
  padding-bottom:112px!important
 }
 .pl-sm-11 {
  padding-left:112px!important
 }
 .py-sm-11 {
  padding-bottom:112px!important;
  padding-top:112px!important
 }
 .p-sm-12 {
  padding:128px!important
 }
 .pt-sm-12 {
  padding-top:128px!important
 }
 .pr-sm-12 {
  padding-right:128px!important
 }
 .pb-sm-12 {
  padding-bottom:128px!important
 }
 .pl-sm-12 {
  padding-left:128px!important
 }
 .py-sm-12 {
  padding-bottom:128px!important;
  padding-top:128px!important
 }
}
@media (min-width:768px) {
 .p-md-7 {
  padding:48px!important
 }
 .pt-md-7 {
  padding-top:48px!important
 }
 .pr-md-7 {
  padding-right:48px!important
 }
 .pb-md-7 {
  padding-bottom:48px!important
 }
 .pl-md-7 {
  padding-left:48px!important
 }
 .py-md-7 {
  padding-bottom:48px!important;
  padding-top:48px!important
 }
 .p-md-8 {
  padding:64px!important
 }
 .pt-md-8 {
  padding-top:64px!important
 }
 .pr-md-8 {
  padding-right:64px!important
 }
 .pb-md-8 {
  padding-bottom:64px!important
 }
 .pl-md-8 {
  padding-left:64px!important
 }
 .py-md-8 {
  padding-bottom:64px!important;
  padding-top:64px!important
 }
 .p-md-9 {
  padding:80px!important
 }
 .pt-md-9 {
  padding-top:80px!important
 }
 .pr-md-9 {
  padding-right:80px!important
 }
 .pb-md-9 {
  padding-bottom:80px!important
 }
 .pl-md-9 {
  padding-left:80px!important
 }
 .py-md-9 {
  padding-bottom:80px!important;
  padding-top:80px!important
 }
 .p-md-10 {
  padding:96px!important
 }
 .pt-md-10 {
  padding-top:96px!important
 }
 .pr-md-10 {
  padding-right:96px!important
 }
 .pb-md-10 {
  padding-bottom:96px!important
 }
 .pl-md-10 {
  padding-left:96px!important
 }
 .py-md-10 {
  padding-bottom:96px!important;
  padding-top:96px!important
 }
 .p-md-11 {
  padding:112px!important
 }
 .pt-md-11 {
  padding-top:112px!important
 }
 .pr-md-11 {
  padding-right:112px!important
 }
 .pb-md-11 {
  padding-bottom:112px!important
 }
 .pl-md-11 {
  padding-left:112px!important
 }
 .py-md-11 {
  padding-bottom:112px!important;
  padding-top:112px!important
 }
 .p-md-12 {
  padding:128px!important
 }
 .pt-md-12 {
  padding-top:128px!important
 }
 .pr-md-12 {
  padding-right:128px!important
 }
 .pb-md-12 {
  padding-bottom:128px!important
 }
 .pl-md-12 {
  padding-left:128px!important
 }
 .py-md-12 {
  padding-bottom:128px!important;
  padding-top:128px!important
 }
}
@media (min-width:1012px) {
 .p-lg-7 {
  padding:48px!important
 }
 .pt-lg-7 {
  padding-top:48px!important
 }
 .pr-lg-7 {
  padding-right:48px!important
 }
 .pb-lg-7 {
  padding-bottom:48px!important
 }
 .pl-lg-7 {
  padding-left:48px!important
 }
 .py-lg-7 {
  padding-bottom:48px!important;
  padding-top:48px!important
 }
 .p-lg-8 {
  padding:64px!important
 }
 .pt-lg-8 {
  padding-top:64px!important
 }
 .pr-lg-8 {
  padding-right:64px!important
 }
 .pb-lg-8 {
  padding-bottom:64px!important
 }
 .pl-lg-8 {
  padding-left:64px!important
 }
 .py-lg-8 {
  padding-bottom:64px!important;
  padding-top:64px!important
 }
 .p-lg-9 {
  padding:80px!important
 }
 .pt-lg-9 {
  padding-top:80px!important
 }
 .pr-lg-9 {
  padding-right:80px!important
 }
 .pb-lg-9 {
  padding-bottom:80px!important
 }
 .pl-lg-9 {
  padding-left:80px!important
 }
 .py-lg-9 {
  padding-bottom:80px!important;
  padding-top:80px!important
 }
 .p-lg-10 {
  padding:96px!important
 }
 .pt-lg-10 {
  padding-top:96px!important
 }
 .pr-lg-10 {
  padding-right:96px!important
 }
 .pb-lg-10 {
  padding-bottom:96px!important
 }
 .pl-lg-10 {
  padding-left:96px!important
 }
 .py-lg-10 {
  padding-bottom:96px!important;
  padding-top:96px!important
 }
 .p-lg-11 {
  padding:112px!important
 }
 .pt-lg-11 {
  padding-top:112px!important
 }
 .pr-lg-11 {
  padding-right:112px!important
 }
 .pb-lg-11 {
  padding-bottom:112px!important
 }
 .pl-lg-11 {
  padding-left:112px!important
 }
 .py-lg-11 {
  padding-bottom:112px!important;
  padding-top:112px!important
 }
 .p-lg-12 {
  padding:128px!important
 }
 .pt-lg-12 {
  padding-top:128px!important
 }
 .pr-lg-12 {
  padding-right:128px!important
 }
 .pb-lg-12 {
  padding-bottom:128px!important
 }
 .pl-lg-12 {
  padding-left:128px!important
 }
 .py-lg-12 {
  padding-bottom:128px!important;
  padding-top:128px!important
 }
}
@media (min-width:1280px) {
 .p-xl-7 {
  padding:48px!important
 }
 .pt-xl-7 {
  padding-top:48px!important
 }
 .pr-xl-7 {
  padding-right:48px!important
 }
 .pb-xl-7 {
  padding-bottom:48px!important
 }
 .pl-xl-7 {
  padding-left:48px!important
 }
 .py-xl-7 {
  padding-bottom:48px!important;
  padding-top:48px!important
 }
 .p-xl-8 {
  padding:64px!important
 }
 .pt-xl-8 {
  padding-top:64px!important
 }
 .pr-xl-8 {
  padding-right:64px!important
 }
 .pb-xl-8 {
  padding-bottom:64px!important
 }
 .pl-xl-8 {
  padding-left:64px!important
 }
 .py-xl-8 {
  padding-bottom:64px!important;
  padding-top:64px!important
 }
 .p-xl-9 {
  padding:80px!important
 }
 .pt-xl-9 {
  padding-top:80px!important
 }
 .pr-xl-9 {
  padding-right:80px!important
 }
 .pb-xl-9 {
  padding-bottom:80px!important
 }
 .pl-xl-9 {
  padding-left:80px!important
 }
 .py-xl-9 {
  padding-bottom:80px!important;
  padding-top:80px!important
 }
 .p-xl-10 {
  padding:96px!important
 }
 .pt-xl-10 {
  padding-top:96px!important
 }
 .pr-xl-10 {
  padding-right:96px!important
 }
 .pb-xl-10 {
  padding-bottom:96px!important
 }
 .pl-xl-10 {
  padding-left:96px!important
 }
 .py-xl-10 {
  padding-bottom:96px!important;
  padding-top:96px!important
 }
 .p-xl-11 {
  padding:112px!important
 }
 .pt-xl-11 {
  padding-top:112px!important
 }
 .pr-xl-11 {
  padding-right:112px!important
 }
 .pb-xl-11 {
  padding-bottom:112px!important
 }
 .pl-xl-11 {
  padding-left:112px!important
 }
 .py-xl-11 {
  padding-bottom:112px!important;
  padding-top:112px!important
 }
 .p-xl-12 {
  padding:128px!important
 }
 .pt-xl-12 {
  padding-top:128px!important
 }
 .pr-xl-12 {
  padding-right:128px!important
 }
 .pb-xl-12 {
  padding-bottom:128px!important
 }
 .pl-xl-12 {
  padding-left:128px!important
 }
 .py-xl-12 {
  padding-bottom:128px!important;
  padding-top:128px!important
 }
}
hr {
 border-bottom-color:#eee
}
.img-responsive {
 display:block;
 height:auto;
 max-width:100%;
 width:100%
}
.bg-blue-dark {
 background-color:#032f62!important
}
.bg-orange {
 background:#fb8532!important
}
.text-blue-mktg {
 color:#1074e7!important
}
.text-blue-light {
 color:#79b8ff!important
}
.text-green-mktg {
 color:#2ebc4f!important
}
.text-white-fade {
 color:hsla(0,0%,100%,.7)!important
}
.text-gray-light-ultra {
 color:#808891;
 font-style:normal;
 font-weight:400
}
.underline-dashed {
 background-image:linear-gradient(90deg,#d1d5da 50%,hsla(0,0%,100%,0) 0);
 background-position:bottom;
 background-repeat:repeat-x;
 background-size:10px 1px;
 display:inline;
 padding-bottom:4px
}
.link-mktg {
 box-shadow:0 1px 0 0 rgba(16,116,231,.5);
 color:#1074e7;
 text-decoration:none!important;
 transition:.2s
}
.link-mktg:hover {
 box-shadow:0 1px 0 0 #1074e7;
 color:#0366d6
}
.link-white-mktg {
 box-shadow:0 1px 0 0 hsla(0,0%,100%,.5);
 color:#fff;
 text-decoration:none!important;
 transition:.2s
}
.link-white-mktg:hover {
 box-shadow:0 1px 0 0 #fff
}
.Tile {
 background-color:#f6f8fa;
 border-radius:3px;
 display:block;
 min-height:250px;
 position:relative;
 transition:.4s
}
.Tile:hover {
 background-color:#fff;
 box-shadow:0 4px 14px rgba(0,0,0,.1)
}
.Tile:active {
 box-shadow:0 2px 7px rgba(0,0,0,.1)
}
.Tile--dots:before {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 height:180px;
 left:0;
 opacity:0;
 position:absolute;
 top:0;
 transition:.4s;
 width:180px;
 z-index:-1
}
.Tile--dots:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 bottom:0;
 content:"";
 height:180px;
 opacity:0;
 position:absolute;
 right:0;
 transition:.4s;
 width:180px;
 z-index:-1
}
.Tile--dots:hover:before {
 opacity:1;
 transform:translate3d(-18px,-18px,0)
}
.Tile--dots:hover:after {
 opacity:1;
 transform:translate3d(23px,23px,0)
}
.Tile--dots:active:before {
 opacity:.5;
 transform:translate3d(-10px,-10px,0)
}
.Tile--dots:active:after {
 opacity:.5;
 transform:translate3d(18px,18px,0)
}
.Tile--symbol:before {
 content:"â";
 font-size:24px;
 opacity:0;
 position:absolute;
 right:24px;
 top:16px;
 transform:rotate(-45deg) translateX(-3px);
 transition:.4s,color 0s
}
.Tile--symbol:hover:before {
 opacity:1;
 transform:rotate(-45deg) translateX(0)
}
.Tile--symbol:active:before {
 opacity:1;
 transform:rotate(-45deg) translateX(-5px);
 transition:.2s
}
.bg-dots-gray {
 background:url(/images/modules/site/patterns/dots-small.svg)
}
.bg-dots-gray-large {
 background:url(/images/modules/site/patterns/dots-large.svg)
}
.dots-4 {
 position:relative
}
.dots-4:before {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 height:75%;
 left:-31px;
 position:absolute;
 top:-31px;
 width:75%;
 z-index:-1
}
.dots-3 {
 position:relative
}
.dots-3:before {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 height:75%;
 left:-21px;
 position:absolute;
 top:-21px;
 width:75%;
 z-index:-1
}
.bg-hero-dots-gray {
 position:relative
}
.bg-hero-dots-gray:before {
 background-color:#fafbfc;
 content:"";
 height:100%;
 left:-80px;
 position:absolute;
 top:-48px;
 width:100%;
 z-index:-1
}
.bg-hero-dots-gray:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 bottom:-16px;
 content:"";
 height:100%;
 position:absolute;
 width:100%;
 z-index:-2
}
@media (min-width:1280px) {
 .bg-hero-dots-gray.bg-hero-dots-gray-left:before {
  height:107%;
  left:-224px;
  width:672px
 }
 .bg-hero-dots-gray.bg-hero-dots-gray-left:after {
  bottom:-96px
 }
}
.bg-hero-dots-gray.bg-hero-dots-gray-right:before {
 height:107%;
 left:auto;
 right:-96px;
 top:-40px
}
@media (min-width:1012px) {
 .bg-hero-dots-gray.bg-hero-dots-gray-right:before {
  right:-224px;
  width:672px
 }
}
.bg-hero-dots-gray.bg-hero-dots-gray-right:after {
 bottom:-64px
}
@media (min-width:1280px) {
 .bg-hero-dots-gray.bg-hero-dots-gray-right:after {
  bottom:-96px
 }
}
.bg-dots-big {
 background:url(/images/modules/site/patterns/dots-large.svg);
 content:"";
 height:100%;
 position:absolute;
 width:100%;
 z-index:-1
}
.Point:hover .Point-symbol {
 transform:translateY(-5px)
}
.Point-symbol {
 transform:translateY(0);
 transition:.2s
}
.Bump-link-symbol {
 display:inline-block;
 transform:translateX(0);
 transition:.2s
}
.Bump-link:hover .Bump-link-symbol {
 transform:translateX(3px)
}
.Bump-link--hover .Bump-link-symbol {
 color:inherit;
 opacity:0;
 transform:translateX(0);
 transition:.2s
}
.Bump-link--hover:hover .Bump-link-symbol {
 opacity:1;
 transform:translateX(3px)
}
.offset-n2 {
 margin-left:-16.66667%!important
}
.mr-n7 {
 margin-right:-48px!important
}
.z-n1 {
 z-index:-1
}
.z-n2 {
 z-index:-2
}
.text-truncate {
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
.logos-float-1 {
 animation:logos-float 5s ease-in-out infinite
}
.logos-float-2 {
 animation:logos-float 4s ease-in-out 1s infinite
}
.logos-float-3 {
 animation:logos-float 5s ease-in-out 3s infinite
}
.logos-float-4 {
 animation:logos-float 4s ease-in-out 2s infinite
}
@keyframes logos-float {
 0% {
  transform:translateY(0)
 }
 50% {
  transform:translateY(-16px)
 }
 to {
  transform:translateY(0)
 }
}
.sponsors-featDevs {
 height:650px
}
@media (min-width:768px) {
 .sponsors-featDevs {
  height:680px
 }
}
@media (min-width:1012px) {
 .sponsors-featDevs {
  height:720px;
  margin-top:-280px
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:hover {
 -webkit-backface-visibility:hidden;
 backface-visibility:hidden;
 transform:translateZ(0) scale(1);
 z-index:10
}
.sponsors-featDevs .sponsors-featDevs-dev:first-child img {
 width:140px
}
@media (min-width:768px) {
 .sponsors-featDevs .sponsors-featDevs-dev:first-child img {
  width:200px
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(2) {
 right:-16px;
 top:286px
}
@media (min-width:768px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(2) {
  right:auto;
  top:224px
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(2) .sponsors-featDevs-expand {
 left:-180px
}
@media (min-width:544px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(2) .sponsors-featDevs-expand {
  left:auto
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(2) img {
 width:112px
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) {
 bottom:0;
 left:48px
}
@media (min-width:768px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) {
  bottom:80px
 }
}
@media (min-width:1012px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) {
  bottom:auto;
  left:0;
  top:320px
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) .sponsors-featDevs-expand {
 left:-48px
}
@media (min-width:1012px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) .sponsors-featDevs-expand {
  left:64px
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) img {
 width:140px
}
@media (min-width:1012px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(3) img {
  width:200px
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) {
 bottom:-40px;
 right:112px
}
@media (min-width:1012px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) {
  bottom:80px;
  left:48px;
  right:auto
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) .sponsors-featDevs-expand {
 left:-112px
}
@media (min-width:1012px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) .sponsors-featDevs-expand {
  left:auto
 }
}
.sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) img {
 width:112px
}
@media (min-width:768px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) img {
  width:200px
 }
}
@media (min-width:768px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(4) img {
  width:112px
 }
}
@media (min-width:1280px) {
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(5) .sponsors-featDevs-expand {
  left:64px
 }
 .sponsors-featDevs .sponsors-featDevs-dev:nth-child(5) img {
  width:200px
 }
}
.sponsors-featDevs-expand {
 height:46px;
 overflow:hidden;
 transition:all .3s ease-in;
 width:100%
}
.sponsors-featDevs-dev:hover .sponsors-featDevs-expand {
 height:120px;
 transition:all .3s ease-in-out;
 width:224px
}
.sponsors-featDevs-expandChild {
 opacity:0;
 transition:all .3s ease-in;
 visibility:hidden
}
.sponsors-featDevs-dev:hover .sponsors-featDevs-expandChild {
 opacity:1;
 transition:all .3s ease-in-out;
 visibility:visible
}
.sponsors-particle-1 {
 animation:sponsors-particle 6s ease-in-out infinite
}
.sponsors-particle-2 {
 animation:sponsors-particle 6s ease-in-out 1s infinite
}
.sponsors-particle-3 {
 animation:sponsors-particle 6s ease-in-out 3s infinite
}
@keyframes sponsors-particle {
 0% {
  transform:translateY(0)
 }
 50% {
  transform:translateY(-16px)
 }
 to {
  transform:translateY(0)
 }
}
.sponsors-questions:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 height:95%;
 margin-top:-15%;
 position:absolute;
 right:-10%;
 top:50%;
 width:100%;
 z-index:-1
}
.sponsors-discussion:after {
 background-color:#e1e4e8;
 bottom:-24px;
 content:"";
 display:none;
 height:24px;
 left:80px;
 position:absolute;
 width:3px;
 z-index:1
}
@media (min-width:768px) {
 .sponsors-discussion:after {
  display:block
 }
}
.sponsors-mona-frame {
 -webkit-clip-path:polygon(100% 0,100% 100%,0 100%,0 -20%);
 clip-path:polygon(100% 0,100% 100%,0 100%,0 -20%)
}
.sponsors-mona-profile {
 animation:mona-slide-up .6s cubic-bezier(.25,.46,.45,.94) both
}
@keyframes mona-slide-up {
 0% {
  opacity:0;
  transform:translateY(200px)
 }
 to {
  opacity:1;
  transform:translateY(-32px)
 }
}
.sponsors-popover:after,
.sponsors-popover:before {
 border-bottom-color:transparent;
 content:"";
 display:inline-block;
 margin-left:0;
 position:absolute;
 top:auto
}
.sponsors-popover:before {
 border:8px solid transparent;
 border-top-color:rgba(27,31,35,.15);
 bottom:-16px;
 left:24px
}
.sponsors-popover:after {
 border:7px solid transparent;
 border-top-color:#fff;
 bottom:-14px;
 left:25px
}
.site-subnav {
 box-shadow:0 1px 0 rgba(0,0,0,.1)
}
.subnav-link {
 border:0;
 border-bottom:2px solid transparent;
 color:#6a737d;
 cursor:pointer;
 font-size:12px;
 transition:border-bottom-color .4s
}
@media (min-width:768px) {
 .subnav-link {
  font-size:14px
 }
}
.subnav-link:hover {
 border-bottom-color:#e1e4e8;
 color:#24292e
}
.subnav-link.selected {
 border-bottom-color:#1074e7;
 color:#1b1f23!important;
 font-weight:500
}
.subnav-btn {
 background:transparent;
 font-weight:400
}
@media (min-width:768px) {
 .subnav-btn {
  background:#1074e7;
  color:#fff;
  font-weight:500
 }
}
.subnav-btn:hover {
 background:transparent;
 border-bottom-color:transparent
}
@media (min-width:768px) {
 .subnav-btn:hover {
  background:#0366d6;
  color:#fff;
  font-weight:500
 }
}
.subnav-primary {
 border-bottom-color:transparent;
 flex-basis:100%
}
@media (min-width:768px) {
 .subnav-primary {
  flex-basis:auto
 }
}
.subnav-primary:hover {
 border-bottom-color:transparent
}
@media (min-width:768px) {
 .subnav-primary:hover {
  border-bottom-color:#e1e4e8
 }
}
.subnav-primary.selected {
 border-bottom-color:transparent
}
@media (min-width:768px) {
 .subnav-primary.selected {
  border-bottom-color:#1074e7
 }
}
.site-subnav-sticky {
 position:-webkit-sticky;
 position:sticky;
 top:0;
 z-index:21
}
.site-subnav-sticky.is-stuck {
 background-clip:padding-box
}
.site-subnav-nav .selected {
 color:#24292e
}
.pricing-table {
 text-align:center
}
.pricing-table thead th {
 border-bottom:1px solid #e1e4e8
}
.pricing-table td:first-child {
 font-weight:500;
 text-align:left
}
.pricing-table td,
.pricing-table th {
 padding:8px 16px;
 width:18%
}
.pricing-table td:first-child,
.pricing-table th:first-child {
 padding-left:0;
 width:28%
}
.pricing-table td {
 border-bottom:1px solid #eaecef
}
.pricing-table td+td {
 border-left:1px solid #eaecef;
 border-right:1px solid #eaecef
}
.pricing-table-responsive {
 display:block;
 min-height:.01%;
 overflow-x:auto;
 width:100%
}
@media (min-width:768px) {
 .pricing-table-responsive {
  display:table
 }
}
.pricing-group-individuals {
 background-clip:padding-box;
 border:1px solid rgba(0,0,0,.05)
}
.pricing-group-teams:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 bottom:-5%;
 content:"";
 height:60%;
 left:-10%;
 position:absolute;
 transition:.7s cubic-bezier(.61,.005,.33,1);
 width:100%;
 z-index:-1
}
@media (min-width:1012px) {
 .pricing-group-teams:after {
  bottom:-15%;
  height:40%
 }
}
@media (min-width:1012px) {
 .illoIndiv {
  bottom:-87px;
  left:0;
  width:420px
 }
}
@media (min-width:1280px) {
 .illoIndiv {
  bottom:-104px;
  width:550px
 }
}
.illoTeam {
 margin-bottom:-28px;
 width:340px
}
@media (min-width:544px) {
 .illoTeam {
  margin-bottom:-32px;
  width:410px
 }
}
@media (min-width:768px) {
 .illoTeam {
  margin-bottom:-44px;
  width:600px
 }
}
@media (min-width:1012px) {
 .illoTeam {
  left:-10px;
  margin-bottom:-145px;
  top:-110px;
  width:515px
 }
}
@media (min-width:1280px) {
 .illoTeam {
  margin-bottom:-149px;
  width:600px
 }
}
.pricing-dollar-sign {
 top:-.2em
}
.pricing-matrix-table {
 table-layout:fixed
}
.pricing-matrix-table td,
.pricing-matrix-table th {
 border:1px solid #e1e4e8;
 padding:8px
}
.pricing-matrix-table .pricing-matrix-table-dark {
 background-color:#032f62;
 border-color:#044289;
 color:#fff
}
@media (max-width:768px) {
 .pricing-matrix-sticky-header {
  position:static!important
 }
}
@media (min-width:768px) {
 .pricing-matrix-sticky-header.is-stuck {
  z-index:40
 }
 .pricing-matrix-sticky-header.is-stuck .pricing-matrix-table {
  box-shadow:0 4px 12px -4px rgba(0,0,0,.15)
 }
 .pricing-matrix-sticky-header.is-stuck td,
 .pricing-matrix-sticky-header.is-stuck th {
  padding:16px
 }
 .pricing-matrix-sticky-header.is-stuck th:first-child {
  border-bottom-left-radius:3px
 }
 .pricing-matrix-sticky-header.is-stuck td:last-child {
  border-bottom-right-radius:3px
 }
 .pricing-matrix-sticky-header.is-stuck .btn-mktg {
  display:block!important
 }
}
@media (min-width:1012px) {
 .select-menu-modal-large {
  width:220px
 }
}
@media (min-width:1280px) {
 .select-menu-modal-large {
  width:auto
 }
}
.z-1 {
 z-index:1
}
.z-3 {
 z-index:3
}
@media (min-width:768px) {
 .py-md-7 {
  padding-bottom:48px!important;
  padding-top:48px!important
 }
 .px-md-8 {
  padding-left:64px!important;
  padding-right:64px!important
 }
}
@media (min-width:1280px) {
 .d-xl-colgroup {
  display:table-column-group!important
 }
}
.jumbotron-codelines {
 background:url(/images/modules/site/heroes/simple-codelines.svg),#2b3137;
 background-position:center 10%;
 background-size:cover;
 color:hsla(0,0%,100%,.6)
}
.jumbotron-netneutrality {
 background:#24292e
}
@media (min-width:768px) {
 .jumbotron-netneutrality {
  background:url(/images/modules/site/netneutrality/netneutrality.png),#24292e;
  background-position:top;
  background-size:150% auto
 }
}
@media (min-width:1012px) {
 .jumbotron-netneutrality {
  background-size:130% auto
 }
}
@media (min-width:1280px) {
 .jumbotron-netneutrality {
  background-size:cover
 }
}
.jumbotron-integrations {
 background-image:url(/images/modules/site/heroes/features-hero-integrations.svg);
 background-position:top;
 background-repeat:no-repeat;
 background-size:110% auto
}
.jumbotron-endpoints {
 background-image:url(/images/modules/site/heroes/features-hero-integrations-endpoints.svg);
 background-position:50%;
 background-repeat:no-repeat;
 background-size:100%
}
.jumbotron-projects {
 background-image:url(/images/modules/site/heroes/features-hero-project-management.svg)
}
.jumbotron-code-review,
.jumbotron-projects {
 background-position:top,0 0;
 background-size:110% auto
}
.jumbotron-code-review {
 background-image:url(/images/modules/site/heroes/features-hero-code-review.svg)
}
.jumbotron-link {
 border-bottom:1px solid hsla(0,0%,100%,.125);
 font-weight:400
}
.jumbotron-link:hover {
 border-bottom-color:hsla(0,0%,100%,.75);
 text-decoration:none
}
.jumbotron-video {
 margin-bottom:-24px;
 margin-top:24px;
 position:relative
}
@media (min-width:544px) {
 .jumbotron-video {
  margin-bottom:-32px;
  margin-top:32px
 }
}
@media (min-width:1012px) {
 .jumbotron-video {
  margin-bottom:-48px;
  margin-top:48px
 }
}
@media (min-width:1280px) {
 .jumbotron-video {
  margin-bottom:-64px;
  margin-top:64px
 }
}
.jumbotron-video-close {
 position:absolute;
 right:-40px;
 top:0
}
.jumbotron-link-followup {
 display:inline-block;
 line-height:1;
 margin:0 auto;
 padding:4px;
 position:relative;
 white-space:normal;
 z-index:1
}
.jumbotron-link-followup:hover {
 text-decoration:none
}
@media (min-width:768px) {
 .jumbotron-link-followup {
  display:block;
  margin:0
 }
}
.jumbotron-link-followup .jumbotron-link-followup-icon {
 height:25px;
 left:-4px;
 margin-left:-30px;
 position:relative;
 vertical-align:middle;
 width:25px
}
@media (min-width:768px) {
 .jumbotron-link-followup .jumbotron-link-followup-icon {
  height:30px;
  margin-left:-40px;
  margin-top:-2px;
  width:30px
 }
}
.featurette-heading {
 text-align:center
}
@media (min-width:768px) {
 .featurette-heading {
  text-align:inherit
 }
}
.featurette-benefit-img {
 vertical-align:top;
 width:50px
}
@media (min-width:768px) {
 .featurette-benefit-img {
  width:60px
 }
}
.featurette-icon {
 height:auto;
 width:100%
}
.featurette-illo {
 padding:0 5%
}
@media (min-width:768px) {
 .featurette-illo {
  padding:0
 }
}
@media (min-width:768px) {
 .illflow {
  background-image:url(/images/modules/site/illflow_window_ui.png);
  background-position:top;
  background-repeat:no-repeat;
  background-size:795px auto;
  height:600px
 }
}
@media (min-width:768px) {
 .illflow-purple .selected {
  background-color:#f5f0ff
 }
 .illflow-purple .selected:after {
  border-color:transparent transparent #f5f0ff
 }
 .illflow-purple .illflow-item .illflow-item-heading {
  color:#6f42c1
 }
}
@media (min-width:768px) {
 .illflow-blue .selected {
  background-color:#f1f8ff
 }
 .illflow-blue .selected:after {
  border-color:transparent transparent #f1f8ff
 }
 .illflow-blue .illflow-item .illflow-item-heading {
  color:#0366d6
 }
}
@media (min-width:768px) {
 .illflow-steps {
  margin-left:-24px;
  margin-right:-24px;
  margin-top:24px
 }
 .illflow-steps:before {
  content:"";
  display:table
 }
 .illflow-steps:after {
  clear:both;
  content:"";
  display:table
 }
}
.illflow-step {
 display:none
}
@media (min-width:768px) {
 .illflow-step.active {
  display:block
 }
}
.illflow-item {
 margin-bottom:40px;
 padding:0 10%;
 position:relative;
 text-align:center
}
.illflow-item:before {
 background-image:url(/images/modules/site/illflow_window_ui.png);
 background-repeat:no-repeat;
 background-size:100% auto;
 content:"";
 display:block;
 left:-6%;
 padding-left:110%;
 padding-top:200%;
 position:absolute;
 top:10%;
 z-index:-1
}
@media (min-width:768px) {
 .illflow-item:before {
  display:none
 }
}
.illflow-item .illflow-item-heading {
 color:#444d56;
 position:relative
}
@media (min-width:768px) {
 .illflow-item {
  border-radius:6px;
  cursor:pointer;
  float:left;
  margin-bottom:0;
  padding:24px;
  width:33.333333%
 }
 .illflow-item:not(.selected):hover {
  background-color:#fafbfc
 }
 .illflow-item.selected .illflow-item-heading {
  color:#24292e
 }
 .illflow-item.selected:after {
  border-style:outset solid solid;
  border-width:15px;
  content:" ";
  display:block;
  height:0;
  left:50%;
  margin-left:-15px;
  pointer-events:none;
  position:absolute;
  top:-30px;
  width:0
 }
 .illflow-item.selected:first-child:after {
  left:75%
 }
 .illflow-item.selected:last-child:after {
  left:25%
 }
}
.illflow-item-description {
 margin-top:0
}
.illflow-img {
 display:block;
 height:auto;
 margin:0 auto;
 width:400px
}
@media (min-width:768px) {
 .illflow-bizsecurity {
  background-image:url(/images/modules/site/business-security-illflow-bg.png);
  background-size:1000px auto;
  height:auto
 }
}
.illflow-bizsecurity .img-responsive {
 max-width:400px
}
.illflow-bizsecurity .illflow-item:before {
 display:none
}
.IconNav {
 font-size:12px;
 transition:transform .4s ease
}
@media (min-width:1012px) {
 .IconNav {
  font-size:14px
 }
}
.IconNav-item {
 border-bottom:3px solid transparent
}
.IconNav-item .IconNav-img {
 max-height:60px;
 transition:transform .25s ease-in-out
}
.IconNav-item:hover .IconNav-img {
 transform:translateY(-10px)
}
.IconNav-item.selected {
 border-color:#444d56
}
.IconNav.is-stuck {
 transform:translateY(-70px)
}
.IconNav.is-stuck .IconNav-img {
 opacity:0;
 transition:opacity .4s ease-in-out,transform .25s ease-in-out
}
.IconNav.is-stuck:hover {
 transform:translateY(0)
}
.IconNav.is-stuck:hover .IconNav-img {
 opacity:1
}
.home-hero-signup .form-label {
 display:block;
 font-size:16px;
 font-weight:inherit;
 margin-bottom:5px;
 text-align:left
}
.home-hero-signup .form-control-lg {
 border-radius:5px;
 font-size:16px;
 min-height:46px;
 padding:10px;
 width:100%
}
.home-hero-signup .form-control-lg:-ms-input-placeholder {
 color:#24292e
}
.home-hero-signup .form-control-lg::-ms-input-placeholder {
 color:#24292e
}
.home-hero-signup .form-control-lg::placeholder {
 color:#24292e
}
.home-hero-signup .form-control-note {
 color:#6a737d;
 font-size:12px;
 margin-bottom:0;
 margin-top:5px
}
.home-hero-signup .form-control-note .notice-highlight {
 color:#959da5
}
.customer-story-card {
 box-shadow:0 2px 4px rgba(27,31,35,.15)
}
.customer-story-card:hover .customer-story-btn {
 opacity:1;
 transform:translateZ(0) scale(1)
}
.customer-story-card-hero {
 background-position:50%;
 background-size:cover;
 height:200px
}
.customer-story-btn {
 opacity:0;
 transform:translate3d(-5px,5px,0) scale(.95);
 transition:.4s;
 z-index:2
}
.customer-story-spotlight:after {
 background-image:url(/images/modules/site/patterns/dots-small.svg);
 bottom:0;
 content:"";
 display:none;
 position:absolute;
 right:100%;
 top:0;
 width:100%
}
@media (min-width:1012px) {
 .customer-story-spotlight:after {
  display:block
 }
}
.customer-story-hero {
 background-position:50%;
 background-size:cover;
 height:265px
}
@media (min-width:1012px) {
 .customer-story-hero {
  height:345px
 }
}
.customer-story-hero:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 display:none;
 height:126%;
 left:48px;
 position:absolute;
 top:-48px;
 width:100%;
 z-index:-1
}
@media (min-width:1012px) {
 .customer-story-hero:after {
  display:block
 }
}
.customer-story-block {
 height:245px
}
@media (min-width:1012px) {
 .customer-story-block {
  height:385px
 }
}
.customer-story-feature-hero {
 background-position:50%;
 background-size:cover;
 height:200px
}
@media (min-width:768px) {
 .customer-story-feature-hero {
  height:265px
 }
}
@media (min-width:1012px) {
 .customer-story-feature-hero {
  height:360px
 }
}
.workflow-card {
 background:#6a737d;
 box-shadow:inset 0 0 0 1px #444d56,0 2px 4px rgba(0,0,0,.15);
 margin-bottom:80px;
 max-width:384px
}
.workflow-card:after {
 background:#6a737d;
 border-radius:50%;
 bottom:-17px;
 box-shadow:0 0 0 1px #444d56;
 content:"";
 display:block;
 height:34px;
 left:50%;
 margin:0 0 0 -17px;
 position:absolute;
 width:34px
}
.workflow-card-controls {
 box-shadow:inset 0 1px 0 0 #444d56
}
.workflow-card-controls:before {
 background:#6a737d;
 bottom:1px;
 content:"";
 display:block;
 height:25px;
 left:50%;
 margin:0 0 0 -23px;
 position:absolute;
 width:46px;
 z-index:1
}
.workflow-card-controls:after {
 background:#2188ff;
 border-radius:50%;
 bottom:-6px;
 content:"";
 display:block;
 height:12px;
 left:50%;
 margin:0 0 0 -6px;
 position:absolute;
 width:12px;
 z-index:1
}
.workflow-string {
 border:2px solid #d1d5da;
 border-radius:2px;
 height:80px;
 margin-right:-2px;
 right:50%;
 top:100%;
 width:0
}
.workflow-string--crossover {
 border:0;
 width:45%
}
@media (min-width:1012px) {
 .workflow-string--crossover {
  width:calc(100% + 48px)
 }
}
.workflow-string--crossover-flip {
 left:50%;
 margin-left:-2px;
 right:auto;
 transform:scaleX(-1)
}
.workflow-string--split {
 height:100px;
 top:100%
}
@media (min-width:1012px) {
 .workflow-string--split {
  height:310px;
  top:calc(100% + 30px)
 }
}
.workflow-string--success {
 border-color:#34d058;
 width:1px
}
.workflow-success {
 left:50%;
 margin-left:-35px;
 top:calc(100% + 90px)
}
.action-card {
 box-shadow:inset 0 0 0 1px #e1e4e8,0 2px 4px rgba(0,0,0,.15);
 margin-bottom:80px;
 max-width:384px;
 z-index:1
}
.action-card:after,
.action-card:before {
 background:#f6f8fa;
 border-radius:50%;
 box-shadow:0 0 0 1px #e1e4e8;
 content:"";
 display:block;
 height:34px;
 left:50%;
 margin:0 0 0 -17px;
 position:absolute;
 top:-17px;
 width:34px;
 z-index:-1
}
.action-card:after {
 background:#fff;
 bottom:-17px;
 box-shadow:inset 0 0 0 1px #e1e4e8,0 2px 4px rgba(0,0,0,.15);
 top:auto;
 z-index:0
}
.action-card-header {
 border-radius:6px 6px 0 0;
 box-shadow:inset 0 0 0 1px #e1e4e8
}
.action-card-header:before {
 background:#f6f8fa;
 border-radius:4px 4px 0 0;
 content:"";
 display:block;
 height:4px;
 left:50%;
 margin:0 0 0 -17px;
 position:absolute;
 top:-3px;
 width:34px
}
.action-card-header:after {
 background:#6a737d;
 border-radius:50%;
 content:"";
 display:block;
 height:12px;
 left:50%;
 margin:0 0 0 -6px;
 position:absolute;
 top:-6px;
 width:12px
}
.action-card-icon {
 background:#0366d6;
 height:60px;
 width:60px
}
.action-card-icon * {
 top:50%;
 transform:translateY(-50%)
}
.action-card-details {
 min-height:155px
}
.action-card-controls {
 box-shadow:inset 0 1px 0 0 #e1e4e8
}
.action-card-controls:before {
 background:#fff;
 bottom:1px;
 content:"";
 display:block;
 height:25px;
 left:50%;
 margin:0 0 0 -23px;
 position:absolute;
 width:46px;
 z-index:1
}
.action-card-controls:after {
 background:#0366d6;
 border-radius:50%;
 bottom:-6px;
 content:"";
 display:block;
 height:12px;
 left:50%;
 margin:0 0 0 -6px;
 position:absolute;
 width:12px;
 z-index:1
}
.action-card--code {
 box-shadow:inset 0 0 0 1px #e1e4e8,0 2px 4px rgba(0,0,0,.15);
 line-height:1.8;
 z-index:1
}
.action-card--code:before {
 color:#e1e4e8;
 content:"â¢â¢â¢";
 font-size:40px;
 left:24px;
 letter-spacing:6px;
 line-height:12px;
 position:absolute;
 top:24px
}
.action-card--code .action-card-icon {
 bottom:-30px;
 left:50%;
 margin-left:-30px
}
.action-card-syntax {
 color:#444d56;
 font-size:12px
}
.action-card-syntax:before {
 color:#d1d5da;
 content:"1 2 3 4 5 6";
 left:-20px;
 line-height:1.8;
 position:absolute;
 white-space:pre-wrap;
 width:1em;
 word-break:break-all
}
.actions-small-dots {
 right:calc(100% + 48px);
 width:680px
}
.actions-large-dots {
 display:none
}
@media (min-width:544px) {
 .actions-large-dots {
  background-position:top;
  display:block;
  height:450px;
  left:50%;
  margin-left:-252px;
  top:calc(100% + 48px);
  width:500px
 }
}
@media (min-width:1012px) {
 .actions-large-dots {
  height:680px;
  margin-left:auto;
  width:600px
 }
}
.actions-large-dots--mobile {
 top:53px!important
}
.actions-bg-mask {
 background:#fff;
 right:calc(100% + 64px)
}
.action-logo {
 box-shadow:0 2px 4px rgba(0,0,0,.15);
 height:80px;
 width:80px
}
.action-logo:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 height:80px;
 left:-16px;
 position:absolute;
 top:-16px;
 width:80px;
 z-index:-1
}
.action-logo-img {
 max-width:48px;
 top:50%;
 transform:translateY(-50%)
}
.action-logo--docker,
.action-logo--twilio {
 bottom:32px;
 left:-58px
}
.action-logo--terraform {
 bottom:92px;
 right:-40px
}
@media (min-width:1012px) {
 .actions-title-offset {
  margin-left:8.33333%!important
 }
}
.gpr-cli {
 z-index:1
}
.gpr-cli:after {
 animation:gpr-movement 5s linear infinite;
 background:linear-gradient(#79b8ff,#0366d6,#79b8ff);
 border-radius:2px;
 content:"";
 display:block;
 height:128px;
 left:50%;
 margin-left:-2px;
 position:absolute;
 top:calc(100% + 16px);
 width:4px
}
.gpr-cli-commands {
 min-height:280px;
 overflow-x:scroll;
 padding-bottom:75px;
 word-wrap:normal
}
@media (min-width:768px) {
 .gpr-cli-commands {
  min-height:400px
 }
}
.gpr-cli-particles:before {
 background:url(/images/modules/site/patterns/dots-small.svg);
 content:"";
 display:none!important;
 height:85%;
 left:100px;
 margin-top:-15%;
 position:absolute;
 top:50%;
 width:20%;
 z-index:0
}
@media (min-width:768px) {
 .gpr-cli-particles:before {
  display:block!important
 }
}
.gpr-cli-particles:after {
 background:url(/images/modules/site/patterns/dots-large.svg);
 background-size:42px;
 bottom:-60px;
 content:"";
 display:none!important;
 position:absolute;
 right:80px;
 top:-60px;
 width:30%;
 z-index:0
}
@media (min-width:768px) {
 .gpr-cli-particles:after {
  display:block!important
 }
}
.unselectable {
 -moz-user-select:none;
 -ms-user-select:none;
 -webkit-user-select:none;
 user-select:none
}
@keyframes gpr-cli {
 0% {
  opacity:0;
  transform:scale(.9) translateY(10px)
 }
 to {
  opacity:1;
  transform:scale(1) translateY(0)
 }
}
@keyframes gpr-movement {
 0% {
  background-position:0 0
 }
 to {
  background-position:0 100em
 }
}
.gpr-cli-tab-nav {
 background:rgba(27,31,35,.4);
 border:1px solid transparent
}
.gpr-cli-tab {
 background:transparent;
 border:0;
 cursor:pointer;
 margin-right:1px;
 transition:.4s
}
.gpr-cli-tab:hover {
 background:rgba(3,47,98,.5)
}
.gpr-cli-tab.selected {
 background:#032f62
}
.gpr-cli-tab.selected .gpr-cli-tab-icon {
 opacity:1
}
.gpr-cli-tab-icon {
 opacity:.5;
 top:1px;
 transition:.4s
}
.gpr-npm {
 animation:float-npm 6s ease-in-out 1s infinite;
 left:60px;
 top:20px;
 transform:rotate(10deg)
}
.gpr-docker {
 animation:float-docker 6s ease-in-out infinite;
 bottom:130px;
 left:20px;
 transform:rotate(-10deg)
}
.gpr-nuget {
 animation:float-nuget 6s ease-in-out 2s infinite;
 right:60px;
 top:90px;
 transform:rotate(-8deg)
}
.gpr-rubygems {
 animation:float-rubygems 6s ease-in-out 1s infinite;
 right:100px;
 top:50%;
 transform:rotate(20deg)
}
.gpr-maven {
 animation:float-npm 6s ease-in-out infinite;
 bottom:40px;
 right:30px;
 transform:rotate(10deg)
}
@keyframes float-npm {
 0% {
  transform:rotate(10deg) translateY(0)
 }
 50% {
  transform:rotate(5deg) translateY(-10px)
 }
 to {
  transform:rotate(10deg) translateY(0)
 }
}
@keyframes float-docker {
 0% {
  transform:rotate(-10deg) translateY(0)
 }
 50% {
  transform:rotate(-5deg) translateY(-20px)
 }
 to {
  transform:rotate(-10deg) translateY(0)
 }
}
@keyframes float-nuget {
 0% {
  transform:rotate(-8deg) translateY(0)
 }
 50% {
  transform:rotate(4deg) translateY(-10px)
 }
 to {
  transform:rotate(-8deg) translateY(0)
 }
}
@keyframes float-rubygems {
 0% {
  transform:rotate(20deg) translateY(0)
 }
 50% {
  transform:rotate(15deg) translateY(-20px)
 }
 to {
  transform:rotate(20deg) translateY(0)
 }
}
.gpr-square-purple {
 animation:float-npm 7s ease-in-out infinite;
 background:#8a63d2;
 display:block;
 height:20px;
 left:0;
 top:0;
 transform:rotate(10deg);
 width:20px
}
.gpr-circle-blue {
 animation:float-npm 8s ease-in-out 1s infinite;
 background:#2188ff;
 display:block;
 height:10px;
 left:140px;
 top:130px;
 width:10px
}
.gpr-circle-green {
 animation:float-npm 6s ease-in-out infinite;
 background:#34d058;
 display:block;
 height:30px;
 left:40px;
 top:190px;
 width:30px
}
.gpr-circle-orange {
 animation:float-npm 9s ease-in-out 1s infinite;
 background:#fb8532;
 bottom:60px;
 display:block;
 height:20px;
 left:160px;
 width:20px
}
.gpr-square-yellow {
 animation:float-npm 7s ease-in-out infinite;
 bottom:0;
 left:40px;
 transform:rotate(10deg)
}
.gpr-square-yellow,
.gpr-square-yellow-2 {
 background:#ffdf5d;
 display:block;
 height:30px;
 width:30px
}
.gpr-square-yellow-2 {
 animation:float-npm 8s ease-in-out infinite;
 right:-20px;
 top:-10px;
 transform:rotate(-10deg)
}
.gpr-circle-orange-2 {
 animation:float-npm 8s ease-in-out 1s infinite;
 background:#fb8532;
 display:block;
 height:20px;
 right:140px;
 top:20px;
 width:20px
}
.gpr-circle-green-2 {
 animation:float-npm 7s ease-in-out 1s infinite;
 background:#34d058;
 display:block;
 height:30px;
 right:40px;
 top:170px;
 width:30px
}
.gpr-circle-blue-2 {
 animation:float-npm 6s ease-in-out 1s infinite;
 background:#2188ff;
 bottom:130px;
 display:block;
 height:10px;
 right:110px;
 width:10px
}
.gpr-square-purple-2 {
 animation:float-npm 8s ease-in-out infinite;
 background:#8a63d2;
 bottom:0;
 display:block;
 height:20px;
 right:160px;
 transform:rotate(-10deg);
 width:20px
}
.gpr-openining-point:after {
 animation:gpr-movement 5s linear infinite;
 background:linear-gradient(#79b8ff,#0366d6,#79b8ff);
 border-radius:2px;
 content:"";
 display:block;
 height:130px;
 left:50%;
 margin-left:-2px;
 position:relative;
 top:calc(100% + 32px);
 width:4px
}
.gpr-cli-particle {
 display:none!important
}
@media (min-width:1012px) {
 .gpr-cli-particle {
  display:block!important
 }
}
.gpr-testimonial {
 min-height:405px
}
.gpr-testimonial:after {
 background:url(/images/modules/site/patterns/dots-small.svg);
 bottom:-50px;
 content:"";
 left:-50px;
 position:absolute;
 top:50px;
 width:90%;
 z-index:-1
}
.gpr-testimonial-nav {
 bottom:24px;
 left:50%;
 margin-left:-20px;
 width:40px
}
.SegmentedNav .gpr-testimonial-nav-link {
 color:#d1d5da;
 transition:.4s
}
.SegmentedNav .gpr-testimonial-nav-link:hover {
 color:#6a737d
}
.SegmentedNav .gpr-testimonial-nav-link.selected {
 color:#444d56
}
.gpr-distro-illustration rect {
 shape-rendering:auto
}
.MarketingBody {
 font-size:16px;
 line-height:1.5
}
.MarketingBody>p {
 color:#586069;
 margin-bottom:24px
}
.MarketingBody h2,
.MarketingBody h3 {
 font-family:InterUI,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
 font-weight:400;
 margin-bottom:8px
}
.MarketingBody h2 {
 font-size:20px
}
.MarketingBody blockquote {
 border:0;
 color:#1074e7;
 font-size:24px!important;
 font-weight:500;
 padding:16px 0 24px 48px
}
@media (min-width:1012px) {
 .MarketingBody blockquote {
  padding:16px 0 24px 64px
 }
}
.MarketingBody blockquote:before {
 color:#c8e1ff;
 content:"â";
 float:left;
 font-size:64px;
 line-height:1;
 margin-left:-40px
}
@media (min-width:1012px) {
 .MarketingBody blockquote:before {
  margin-left:-48px
 }
}
.MarketingBody ol,
.MarketingBody ul {
 color:#586069;
 line-height:1.5;
 margin-bottom:24px;
 overflow:hidden;
 padding-left:1.25em
}
.MarketingBody ol strong,
.MarketingBody ul strong {
 color:#1b1f23
}
.MarketingBody ol li,
.MarketingBody ul li {
 margin-bottom:4px
}
.MarketingBody p+ul {
 margin-top:-8px
}
.MarketingBody .video-responsive {
 margin-bottom:16px;
 margin-left:16px;
 margin-right:16px
}
.MarketingBody img {
 border-radius:3px;
 margin-left:0;
 max-width:100%
}
@media (min-width:1012px) {
 .MarketingBody img {
  margin-left:-48px;
  max-width:calc(100% + 48px)!important
 }
}
.MarketingBody-lead {
 font-family:InterUI,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}
.MarketingBody-lead>p:first-child {
 color:#2f363d!important;
 font-size:20px
}
.MarketingBody-lead a {
 color:#1074e7;
 text-decoration:underline;
 transition:.2s
}
.MarketingBody-lead a:hover {
 color:#0366d6
}
.summarylink .summarylink-illustration {
 display:none;
 transition:opacity .7s
}
@media (min-width:544px) {
 .summarylink .summarylink-illustration {
  display:block;
  opacity:0;
  top:-50%
 }
}
.summarylink:active,
.summarylink:hover {
 text-decoration:none
}
.summarylink:active .summary-circle,
.summarylink:hover .summary-circle {
 text-decoration:none;
 transform:scale(1.05)
}
@media (min-width:544px) {
 .summarylink:active .summarylink-illustration,
 .summarylink:hover .summarylink-illustration {
  opacity:1;
  top:24px
 }
}
@media (min-width:544px) {
 .summarylink:active .summarylink-btn,
 .summarylink:hover .summarylink-btn {
  border-color:#d1d5da;
  box-shadow:0 1px 15px rgba(27,31,35,.15)
 }
}
.summarylink:active .summarylink-btn .octicon,
.summarylink:hover .summarylink-btn .octicon {
 filter:grayscale(0)
}
.summarylink-btn {
 border:1px solid transparent;
 transition:box-shadow .3s,border-color .3s
}
@media (min-width:544px) {
 .summarylink-btn .octicon {
  filter:grayscale(100%);
  transition:filter .3s
 }
}
@media (min-width:544px) {
 .summarylink-illustration {
  position:absolute;
  right:40px;
  top:0;
  width:25%
 }
}
@media (min-width:1012px) {
 .summarylink-illustration {
  left:40%;
  right:auto;
  top:16px;
  width:15%
 }
}
@media (min-width:768px) {
 .communitystats {
  padding-left:50%
 }
}
.communitystats .summarylink:first-child .summary-circle {
 height:225px;
 width:225px
}
.communitystats .summarylink:nth-child(2) .summary-circle {
 height:175px;
 left:20%;
 width:175px
}
@media (min-width:1012px) {
 .communitystats .summarylink:nth-child(2) .summary-circle {
  left:25%;
  top:40px
 }
}
.communitystats .summarylink:nth-child(3) .summary-circle {
 height:140px;
 left:10%;
 width:140px
}
@media (min-width:1012px) {
 .communitystats .summarylink:nth-child(3) .summary-circle {
  left:16%
 }
}
.communitystats .summary-circle {
 transition:transform .3s
}
.communitystats .summary-circle.bg-orange {
 background-color:#f66a0a!important
}
@media (min-width:768px) {
 .communitystats .summary-circle {
  left:0;
  position:absolute
 }
}
@media (min-width:768px) {
 .communitystats .summarylink-btn {
  max-width:400px
 }
}
.logo-img {
 display:inline-block;
 height:25px;
 margin:10px;
 position:relative;
 vertical-align:middle;
 width:auto
}
@media (min-width:768px) {
 .logo-img {
  height:30px;
  margin:10px;
  width:auto
 }
}
@media (min-width:1012px) {
 .logo-img {
  height:35px;
  margin:10px 20px
 }
}
.logo-img-sm {
 display:inline-block;
 height:20px;
 margin:10px;
 position:relative;
 vertical-align:middle;
 width:auto
}
@media (min-width:768px) {
 .logo-img-sm {
  height:25px;
  margin:10px;
  width:auto
 }
}
.logo-img-lg {
 height:35px;
 margin:5px 15px;
 width:auto
}
@media (min-width:768px) {
 .logo-img-lg {
  height:40px;
  margin:10px 15px;
  width:auto
 }
}
@media (min-width:1012px) {
 .logo-img-lg {
  height:50px;
  margin:10px 25px
 }
}
.tooltipped-logo {
 display:inline-block
}
.tooltipped-logo.tooltipped-s:after,
.tooltipped-logo.tooltipped-se:after,
.tooltipped-logo.tooltipped-sw:after {
 font-size:14px
}
.Slots {
 height:1.5em;
 margin-bottom:-.15em
}
.Slots-item {
 height:2em;
 padding-top:5px
}
@keyframes RotateSlot {
 0% {
  margin-top:0
 }
 3% {
  margin-top:-2em
 }
 20% {
  margin-top:-2em
 }
 23% {
  margin-top:-4em
 }
 40% {
  margin-top:-4em
 }
 43% {
  margin-top:-6em
 }
 60% {
  margin-top:-6em
 }
 63% {
  margin-top:-8em
 }
 90% {
  margin-top:-8em
 }
 93% {
  margin-top:0
 }
 to {
  margin-top:0
 }
}
.Slots-item:first-of-type {
 animation-delay:2.5s;
 animation-duration:15s;
 animation-iteration-count:infinite;
 animation-name:RotateSlot;
 animation-timing-function:ease-in-out
}
.apps-cluster .CircleBadge {
 margin:16px
}
@media (min-width:1012px) {
 .apps-cluster .CircleBadge {
  position:relative
 }
}
@media (min-width:1012px) {
 .apps-cluster .CircleBadge:nth-child(odd) {
  animation-delay:1.5s;
  animation-direction:reverse;
  margin-top:-24px
 }
}
@media (min-width:1012px) {
 .apps-cluster .CircleBadge:nth-child(2n) {
  animation-duration:6s;
  margin-top:24px
 }
}
@media (min-width:1012px) {
 .apps-cluster .CircleBadge:first-child {
  animation-delay:2.1s
 }
}
@media (min-width:1012px) {
 .apps-cluster .CircleBadge:nth-child(4) {
  animation-delay:.7s;
  animation-direction:reverse
 }
}
@media (min-width:1012px) {
 .apps-cluster .CircleBadge:nth-child(6) {
  animation-delay:.3s
 }
}
.apps-cluster .CircleBadge.tooltipped:hover {
 box-shadow:0 3px 8px 0 rgba(0,0,0,.2)
}
@keyframes appsClusterFloat {
 0% {
  top:0
 }
 40% {
  top:8px
 }
 to {
  top:0
 }
}
.apps-quadrangle {
 height:280px;
 position:relative;
 width:280px
}
.apps-quadrangle .CircleBadge {
 position:absolute
}
.apps-quadrangle .CircleBadge:after {
 animation:connect_four 2s ease-in-out infinite alternate forwards;
 background-color:#e1e4e8;
 content:"";
 display:inline-block;
 height:3px;
 left:0;
 position:absolute;
 top:50%;
 z-index:-1
}
.apps-quadrangle .CircleBadge:first-child {
 left:0;
 top:0
}
.apps-quadrangle .CircleBadge:nth-child(2) {
 right:0;
 top:0
}
.apps-quadrangle .CircleBadge:nth-child(2):after {
 animation-delay:.7s;
 margin-left:-40px;
 margin-top:32px;
 transform:rotate(-45deg) scaleX(-1);
 transform-origin:96px 96px
}
.apps-quadrangle .CircleBadge:nth-child(3) {
 bottom:0;
 left:0;
 top:auto
}
.apps-quadrangle .CircleBadge:nth-child(3):after {
 animation-delay:1.7s
}
.apps-quadrangle .CircleBadge:nth-child(4) {
 bottom:0;
 right:0;
 top:auto
}
.apps-quadrangle .CircleBadge:nth-child(4):after {
 content:none
}
@keyframes connect_four {
 0% {
  width:0
 }
 to {
  width:280px
 }
}
.video-responsive {
 height:0;
 max-width:100%;
 padding-bottom:56.25%;
 position:relative
}
.video-responsive embed,
.video-responsive iframe,
.video-responsive object {
 height:100%;
 left:0;
 position:absolute;
 top:0;
 width:100%
}
.togglevideo.is-expanded .togglevideo-hidewhenexpanded,
.togglevideo .togglevideo-hidewhencollapsed {
 display:none
}
.togglevideo.is-expanded .togglevideo-showwhenexpanded {
 display:block
}
@media (min-width:768px) {
 .togglevideo.is-expanded .togglevideo-hidewhenexpanded-md {
  display:none
 }
}
.DeveloperVideo-data {
 background:#24292e;
 bottom:0;
 left:0;
 right:0;
 z-index:0
}
@media (min-width:768px) {
 .DeveloperVideo-data {
  background:none;
  background-image:linear-gradient(transparent,rgba(27,31,35,.95));
  padding-top:30%
 }
}
.DeveloperVideoData-play {
 left:calc(50% - 40px);
 top:calc(50% - 40px);
 z-index:1
}
@media (min-width:768px) {
 .DeveloperVideoData-play {
  top:20%
 }
}
@media (min-width:1012px) {
 .DeveloperVideoData-play {
  top:calc(50% - 40px)
 }
}
.x-overflow-card {
 min-width:280px
}
@media (min-width:768px) {
 .mt-md-n80 {
  margin-top:-80px!important
 }
}
@media (min-width:1012px) {
 .mt-lg-n120 {
  margin-top:-120px!important
 }
}
@font-face {
 font-family:oswald-medium;
 font-style:normal;
 font-weight:500;
 src:local("oswald-medium"),
 local("oswald-medium"),
 url(/static/fonts/oswald/oswald-medium.ttf) format("truetype")
}
.btf-display-text {
 font-family:oswald-medium,sans-serif
}
.name-md-title {
 word-wrap:normal
}
@media (min-width:768px) {
 .name-md-title {
  font-size:40px
 }
}
.track-2 {
 letter-spacing:2px
}
.lh-tall {
 line-height:1.7
}
.btf-gradient-purple {
 background-image:linear-gradient(90deg,#9f67a8,#5174b6)
}
.btf-gradient-blue {
 background-image:linear-gradient(90deg,#5174b6,#0b98ad)
}
.btf-gradient-teal {
 background-image:linear-gradient(90deg,#0b98ad,#14b098)
}
.btf-gradient-green {
 background-image:linear-gradient(90deg,#14b098,#6cb980)
}
@media (min-width:768px) {
 .p-md-7 {
  padding:48px!important
 }
}
@media (min-width:1012px) {
 .p-lg-8 {
  min-width:410px;
  padding:64px!important
 }
}
@media (min-width:1012px) {
 .mt-lg-n175 {
  margin-top:-175px!important
 }
}
@media (min-width:768px) {
 .mt-md-n12 {
  margin-top:-128px!important
 }
}
@media (min-width:768px) {
 .left-md-475 {
  left:475px!important
 }
}
.bottom-600-lg300 {
 bottom:600px!important
}
@media (min-width:1012px) {
 .bottom-600-lg300 {
  bottom:300px!important
 }
}
.btf-border {
 border-top:1px solid #2f363d
}
.btf-container {
 max-width:1400px
}
.z-2 {
 z-index:2
}
.btf-play {
 left:calc(50% - 66px);
 top:calc(50% - 80px)
}
.signup-prompt {
 background-clip:padding-box;
 background-repeat:no-repeat;
 box-shadow:0 3px 6px rgba(0,0,0,.05)
}
@media (max-width:768px) {
 .signup-prompt {
  background-image:none!important
 }
}
.signup-prompt .btn-link {
 border-radius:32px
}
.signup-prompt .btn-link:hover {
 border-color:#0366d6!important
}
@media (min-width:768px) {
 .signup-prompt-building {
  background-position:right 230%;
  background-size:auto 105%
 }
}
@media (min-width:1012px) {
 .signup-prompt-building {
  background-position:right 112%;
  background-size:auto 121%
 }
}
@media (min-width:768px) {
 .signup-prompt-unpacking {
  background-position:115% 180%;
  background-size:auto 110%
 }
}
@media (min-width:1012px) {
 .signup-prompt-unpacking {
  background-position:right 97%;
  background-size:auto 165%
 }
}
@media (min-width:768px) {
 .signup-prompt-paper {
  background-position:right 220%;
  background-size:auto 105%
 }
}
@media (min-width:1012px) {
 .signup-prompt-paper {
  background-position:105% 85%;
  background-size:auto 150%
 }
}
.signup-prompt-bg {
 background-image:linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff),linear-gradient(70deg,#eaf5ff 32%,#f6fff8)
}
@media (min-width:1012px) {
 .enterprise-prompt {
  background:url(/images/modules/site/patterns/dots-large.svg);
  background-position:center 10%
 }
}
.SegmentedNav .selected {
 color:#586069
}
.SegmentedContent {
 display:none
}
.SegmentedContent.active {
 display:block
}
.server-stats .container {
 margin-left:auto;
 margin-right:auto;
 max-width:1012px;
 padding-left:16px;
 padding-right:16px;
 width:auto
}
@media (min-width:544px) {
 .server-stats .container {
  padding-left:40px;
  padding-right:40px
 }
}
@media (min-width:1012px) {
 .server-stats .container {
  padding-left:16px;
  padding-right:16px
 }
}
/*# sourceMappingURL=site-294181adec18ed639e160b96b45d17ac.css.map */
